<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.home.mapper.MovieMapper">

    <resultMap id="MoviesWithGenresResultMap" type="com.home.entity.Movies">
        <result property="id" column="ID"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="magnet_url" column="magnet_url"/>
        <result property="img_url" column="img_url"/>
        <result property="date" column="date"/>
    </resultMap>

    <select id="getMovieByCategory" parameterType="int" resultMap="MoviesWithGenresResultMap">
        SELECT m.*
        FROM movies m
        LEFT JOIN movie_category mc ON mc.movie_id = m.id AND mc.category_id = #{categoryId}
        GROUP BY m.id,mc.category_id
        HAVING mc.category_id IS NOT NULL;
    </select>

    <select id="getMovieByTime" parameterType="int" resultMap="MoviesWithGenresResultMap">
        select m.* FROM movies m
        ORDER BY date desc
        LIMIT #{number}
    </select>

    <select id="getMovieByIdList" parameterType="arraylist" resultMap="MoviesWithGenresResultMap">
        select * from movies WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getLastMovies" parameterType="int" resultMap="MoviesWithGenresResultMap">
        SELECT * FROM movies
        ORDER BY date desc
        LIMIT #{num}
    </select>
</mapper>
